.VSCodeCounter
.vscode
*.code-workspace

# Local History for Visual Studio Code
.history/
*.app
.snapshots/*

*.o
*.a
*.exe
*.dll

__pycache__
*.pyc

Test/**

compile_commands.json

*.generited.hpp

.cache

book